<div class="main-section">
  <div [@slideInOut]="isSidebarOpen ? 'in' : 'out'" [class.closed]="!isSidebarOpen" class="sidebar" id="sidebar">
    <div class="sidebar-content">
      <h2>Persian Date/Time picker</h2>
      <ul>
        <li (click)="showPart = 'datepicker'">Date picker</li>
        <li (click)="showPart = 'timepicker'">Time Picker</li>
        <li>
          <a href="https://www.npmjs.com/package/persian-date-time-picker" target="_blank">About ({{ Version }})</a>
        </li>
        <li>
          <a href="https://github.com/soheilMohammadix/persian-date-time-picker-signal" target="_blank">Github</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
    <header class="header">
      <button (click)="toggleSidebar()" class="toggle-button">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <g data-name="Layer 2">
            <g data-name="menu">
              <rect height="2" rx=".95" ry=".95" width="18" x="3" y="11"/>
              <rect height="2" rx=".95" ry=".95" width="18" x="3" y="16"/>
              <rect height="2" rx=".95" ry=".95" width="18" x="3" y="6"/>
            </g>
          </g>
        </svg>
      </button>
    </header>
    <div class="demo-part">
      <!-- Date Picker -->
      <div *ngIf="showPart == 'datepicker'" class="container">
        <div class="box">
          <h2>Set Settings:</h2>
          <p>you can change date picker settings and see result.</p>
          <div class="filters">
            <div class="form-group">
              <label for="cal-type">Calendar type:</label>
              <select (change)="onChangeCalendarType($event)" [(ngModel)]="calendarType" id="cal-type" name="cal-type">
                <option value="jalali">jalali</option>
                <option value="gregorian">gregorian</option>
              </select>
            </div>
            <div class="form-group">
              <label for="mode">Mode:</label>
              <select (change)="onChangeMode($event)" id="mode" name="mode">
                <option value="day">day</option>
                <option value="month">month</option>
                <option value="year">year</option>
              </select>
            </div>
            <div class="form-group">
              <label for="valueFormat">Value format:</label>
              <select (change)="updateCode()" [(ngModel)]="valueFormat" id="valueFormat" name="valueFormat">
                <option value="jalali">jalali</option>
                <option value="gregorian">gregorian</option>
                <option value="date">date</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Rtl">Rtl:</label>
              <div class="switch-container">
                <input (ngModelChange)="updateCode()" [(ngModel)]="rtl" class="switch-checkbox"
                       id="Rtl" type="checkbox"/>
                <label class="switch-label" for="Rtl">
                  <span class="switch-button"></span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="isRange">isRange:</label>
              <div class="switch-container">
                <input (ngModelChange)="updateCode()" [(ngModel)]="isRange" class="switch-checkbox"
                       id="isRange" type="checkbox"/>
                <label class="switch-label" for="isRange">
                  <span class="switch-button"></span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="format">Format:</label>
              <input (ngModelChange)="updateCode()" [(ngModel)]="format" class="input-text" id="format"
                     type="text">
            </div>
            <div class="form-group">
              <label for="footerDescription">Footer description:</label>
              <input (ngModelChange)="updateCode()" [(ngModel)]="footerDescription" class="input-text"
                     id="footerDescription"
                     type="text">
            </div>
            <div *ngIf="!isRange" class="form-group">
              <label for="inputLabel">Input label:</label>
              <input (ngModelChange)="updateCode()" [(ngModel)]="inputLabel" class="input-text" id="inputLabel"
                     type="text">
            </div>
            <div *ngIf="isRange" class="range-labels">
              <div class="form-group">
                <label for="rangeInputLabel">start label:</label>
                <input (ngModelChange)="updateCode()" [(ngModel)]="rangeInputLabel.start" class="input-text"
                       id="rangeInputLabel" type="text">
              </div>
              <div class="form-group">
                <label for="rangeInputLabel">end label:</label>
                <input (ngModelChange)="updateCode()" [(ngModel)]="rangeInputLabel.end" class="input-text"
                       id="rangeInputLabel" type="text">
              </div>
            </div>
            <div class="form-group">
              <label for="MinDate">Min Date:</label>
              <persian-date-picker
                (ngModelChange)="updateCode()"
                [(ngModel)]="minDate"
                [calendarType]="calendarType"
                [dir]="rtl? 'rtl': 'ltr'"
                [format]="'yyyy/MM/dd'"
                [mode]="'day'"
                [rtl]="rtl"
                [showSidebar]="showSidebar"
                [valueFormat]="valueFormat"></persian-date-picker>
            </div>
            <div class="form-group">
              <label for="MaxDate">Max Date:</label>
              <persian-date-picker
                (ngModelChange)="updateCode()"
                [(ngModel)]="maxDate"
                [calendarType]="calendarType"
                [dir]="rtl?'rtl':'ltr'"
                [format]="'yyyy/MM/dd'"
                [mode]="'day'"
                [rtl]="rtl"
                [showSidebar]="showSidebar"
                [valueFormat]="valueFormat"></persian-date-picker>
            </div>
            <div class="filters">
              <div class="form-group">
                <label for="isInline">Inline mode:</label>
                <div class="switch-container">
                  <input (change)="updateCode()" [(ngModel)]="isInline" class="switch-checkbox"
                         id="isInline" type="checkbox"/>
                  <label class="switch-label" for="isInline">
                    <span class="switch-button"></span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="ShowSidebar">Show sidebar:</label>
                <div class="switch-container">
                  <input (change)="updateCode()" [(ngModel)]="showSidebar" class="switch-checkbox"
                         id="ShowSidebar" type="checkbox"/>
                  <label class="switch-label" for="ShowSidebar">
                    <span class="switch-button"></span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="showToday">Show today:</label>
                <div class="switch-container">
                  <input (change)="updateCode()" [(ngModel)]="showToday" class="switch-checkbox"
                         id="showToday" type="checkbox"/>
                  <label class="switch-label" for="showToday">
                    <span class="switch-button"></span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="Disabled">Disabled:</label>
                <div class="switch-container">
                  <input (change)="updateCode()" [(ngModel)]="disabled" class="switch-checkbox"
                         id="Disabled" type="checkbox"/>
                  <label class="switch-label" for="Disabled">
                    <span class="switch-button"></span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="allowEmpty">Allow empty:</label>
                <div class="switch-container">
                  <input (change)="updateCode()" [(ngModel)]="allowEmpty" class="switch-checkbox"
                         id="allowEmpty" type="checkbox"/>
                  <label class="switch-label" for="allowEmpty">
                    <span class="switch-button"></span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="readOnly">readOnly:</label>
                <div class="switch-container">
                  <input (change)="updateCode()" [(ngModel)]="readOnly" class="switch-checkbox"
                         id="readOnly" type="checkbox"/>
                  <label class="switch-label" for="readOnly">
                    <span class="switch-button"></span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="readOnlyInput">readOnlyInput:</label>
                <div class="switch-container">
                  <input (change)="updateCode()" [(ngModel)]="readOnlyInput" class="switch-checkbox"
                         id="readOnlyInput" type="checkbox"/>
                  <label class="switch-label" for="readOnlyInput">
                    <span class="switch-button"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div [dir]="rtl? 'rtl': 'ltr'" class="box">
          <h2>Settings Result</h2>
          <p>Display the demo based on the settings</p>
          <div class="demo">
            <persian-date-picker
              (ngModelChange)="onChange($event)"
              [(ngModel)]="selectedDate"
              [allowEmpty]="allowEmpty"
              [calendarType]="calendarType"
              [disabled]="disabled"
              [footerDescription]="footerDescription"
              [format]="format"
              [inputLabel]="inputLabel"
              [isInline]="isInline"
              [isRange]="isRange"
              [maxDate]="maxDate!"
              [minDate]="minDate!"
              [mode]="mode"
              [rangeInputLabels]="rangeInputLabel"
              [readOnlyInput]="readOnlyInput"
              [readOnly]="readOnly"
              [rtl]="rtl"
              [showSidebar]="showSidebar"
              [showToday]="showToday"
              [valueFormat]="valueFormat">
            </persian-date-picker>
            <code style="margin-top: 10px;display: block;">selectedDate:  {{ selectedDate | json }}</code>
          </div>
          <button (click)="toggleCode(code)" class="toggle-btn">show code</button>
          <div #code class="code" id="code">
            <code>
              {{ demoCode }}
            </code>
          </div>
        </div>
        <div class="box">
          <h2>Disabled Dates Examples</h2>
          <p>
            This guide provides various examples of how to use the disabled dates functionality in the Persian Date/Time
            Picker.
          </p>
          <div class="demo">
            <disabled-dates></disabled-dates>
          </div>
        </div>
        <div class="box">
          <h2>Custom Templates</h2>
          <p>The DatePicker supports custom templates for days, months, and years using the
            <code>Template</code>
            directive.
          </p>
          <div class="demo">
            <custom-render></custom-render>
          </div>
        </div>
      </div>

      <!-- Time Picker -->
      <div *ngIf="showPart == 'timepicker'" class="container">
        <div class="box">
          <h2>Set Settings:</h2>
          <p>you can change time picker settings and see result.</p>
          <div class="filters">
            <div class="form-group">
              <label for="val-type">Value type:</label>
              <select (change)="updateCode()" [(ngModel)]="timeValueType" id="cal-type" name="val-type">
                <option value="string">string</option>
                <option value="date">date</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Rtl">Rtl:</label>
              <div class="switch-container">
                <input (ngModelChange)="updateCode()" [(ngModel)]="rtl" class="switch-checkbox"
                       id="Rtl" type="checkbox"/>
                <label class="switch-label" for="Rtl">
                  <span class="switch-button"></span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="showIcon">Show icon:</label>
              <div class="switch-container">
                <input (ngModelChange)="updateCode()" [(ngModel)]="showIcon" class="switch-checkbox"
                       id="showIcon" type="checkbox"/>
                <label class="switch-label" for="showIcon">
                  <span class="switch-button"></span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="format">Display format:</label>
              <input (ngModelChange)="updateCode()" [(ngModel)]="timeDisplayFormat" class="input-text" id="format"
                     type="text">
            </div>

            <div class="form-group">
              <label for="MinDate">Min time:</label>
              <persian-time-picker (ngModelChange)="onChange($event)"
                                   [(ngModel)]="minTime" [displayFormat]="timeDisplayFormat"></persian-time-picker>
            </div>
            <div class="form-group">
              <label for="MaxDate">Max time:</label>
              <persian-time-picker (ngModelChange)="onChange($event)"
                                   [(ngModel)]="maxTime" [displayFormat]="timeDisplayFormat"></persian-time-picker>
            </div>
            <div class="form-group">
              <label for="isInline">Inline mode:</label>
              <div class="switch-container">
                <input (ngModelChange)="updateCode()" [(ngModel)]="isInline" class="switch-checkbox"
                       id="isInline" type="checkbox"/>
                <label class="switch-label" for="isInline">
                  <span class="switch-button"></span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="Disabled">Disabled:</label>
              <div class="switch-container">
                <input (change)="updateCode()" [(ngModel)]="disabled" class="switch-checkbox"
                       id="Disabled" type="checkbox"/>
                <label class="switch-label" for="Disabled">
                  <span class="switch-button"></span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="allowEmpty">Allow empty:</label>
              <div class="switch-container">
                <input (change)="updateCode()" [(ngModel)]="allowEmpty" class="switch-checkbox"
                       id="allowEmpty" type="checkbox"/>
                <label class="switch-label" for="allowEmpty">
                  <span class="switch-button"></span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="readOnly">readOnly:</label>
              <div class="switch-container">
                <input (change)="updateCode()" [(ngModel)]="readOnly" class="switch-checkbox"
                       id="readOnly" type="checkbox"/>
                <label class="switch-label" for="readOnly">
                  <span class="switch-button"></span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="readOnlyInput">readOnlyInput:</label>
              <div class="switch-container">
                <input (change)="updateCode()" [(ngModel)]="readOnlyInput" class="switch-checkbox"
                       id="readOnlyInput" type="checkbox"/>
                <label class="switch-label" for="readOnlyInput">
                  <span class="switch-button"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div [dir]="rtl? 'rtl': 'ltr'" class="box">
          <h2>Settings Result</h2>
          <p>Display the demo based on the settings</p>
          <div class="demo">
            <persian-time-picker
              (ngModelChange)="onChange($event)"
              [(ngModel)]="selectedTime"
              [disabled]="disabled"
              [displayFormat]="timeDisplayFormat"
              [inline]="isInline"
              [maxTime]="maxTime"
              [minTime]="minTime"
              [readOnlyInput]="readOnlyInput"
              [readOnly]="readOnly"
              [rtl]="rtl"
              [showIcon]="showIcon"
              [valueType]="timeValueType">
            </persian-time-picker>
            <code style="margin-top: 10px;display: block;">selectedDate:  {{ selectedTime | json }}</code>
          </div>
          <button (click)="toggleCode(code)" class="toggle-btn">show code</button>
          <div #code class="code" id="code">
            <code>
              {{ demoCode }}
            </code>
          </div>
        </div>

        <div class="box">
          <h2>Disabled Times Examples</h2>
          <p>This guide provides various examples of how to use the disabled times functionality in the Persian
            Date/Time
            Picker.
          </p>
          <div class="demo">
            <disabled-times></disabled-times>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
